
CSS code:

.navbar {
    background-color: #6F9BF2;
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.description {
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
}

.card {
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    padding: 20px;
}

.footer {
    background-color: #6F9BF2;
    font-family: fantasy;
    font-size: 16
